.about{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 30px;
  width: 80%;
  background-color: black;
  height: 80%;

}
.navbar{
  background-color: black;
  border-radius: 30px;
  position: absolute;
  right: 10%;
  margin-bottom: 5%;
  top: 5%;
  width: 35%;
  color: white;
  font-size: 30px;
}
.hg{

}
.hg:hover{
  background-color: grey;
}
.content{
  display: block;
  padding-top: 10%;
  position: absolute;
  left: 25%;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Skranji', cursive;
  color: white;
}

.content2{
  position: absolute;
  left: 37.5%;
  font-size: 20px;
  display: block;
  padding-top: 15%;
  width: 20%;
  color: white;
  font-family: 'Dancing Script', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Skranji', cursive;
}

.skills{
  position: absolute;
  border-radius: 30px;
  display: block;
  top: 130%;
  left: 0;
  background-color: black;
  right: 0;
  bottom: 0;
  width: 35%;
  height: 40%;
  margin: auto auto auto 10%;
  font-family: 'Dancing Script', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Skranji', cursive;
}

.font{
  font-family: 'Dancing Script', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Skranji', cursive;
  font-family: 'Solway', serif;
}

.font2{
  font-family: 'Dancing Script', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Skranji', cursive;
  font-family: 'Solway', serif;
  font-weight: 800;
}
